bin/*
obj/*
*.cscope_file_list
*.depend
*.layout
media/index.html
build/*.dll
build/*.zip
build/*.exe
build/stdout.txt
media/project4.txt
media/*.zip
Thumbs.db
media/*.pnd
media/*.tar.gz
build/replays/*
build/data/scores*
copy_sparrow.bat
build/libsparrow3d.so
build/lib/*
copy_binaries.bat
*.sublime-project
*.sublime-workspace
